header {
  text-align:center;
  padding: 5%;
}

header a {
  color: inherit;
  padding: 1%;
}

header a:hover {
  color:black;
}

h1 {
  font-family: 'VT323', monospace;
  font-size: 4.0em;

}

h2 {
  font-family: 'VT323', monospace;

}

h3 {
  font-family: 'VT323', monospace;
}

.title a {
  text-decoration:none;
  color:black;
}

p {
  text-align:center;
  font-family: 'Work Sans', sans-serif;

}

ul {
 list-style: none;
}






.intro {
  text-align:center;
}


.skills {
  text-align:center;
}

.writing {
  text-align:center;
}

.projects {
  text-align:center;
}

.projects h1 {
  display:inline;
}

.project h3 {
  display:inline;
}

.project i {
  margin-left: 1%;
}

.writing h3 {
  display:inline;
}
