@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap');

$footer-background-color: white;

body {
    background: white;
}
.header-info {
  font-family: 'IBM Plex Mono';
  font-size: 12px;
}

.footer {
    font-family: 'IBM Plex Mono';
    font-size: 12px;  
}

svg {
    path {
        :hover > & {
            fill: #667eea;
        }
    }
}
@import "~bulma/bulma.sass";
