ul {
    list-style: none;
  }
  
  li {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px; 
    padding: 10px;
  }
  
  .post {
    margin-top: 50px;
  }
  
  .post {
    text-decoration: none;
    font-family: 'Montserrat', san-serif; 
    font-size: 14px; 
    padding: 10px;
  }
  
  .blog-post ul {
    font-family: 'Montserrat', san-serif; 
    font-size: 14px; 
  }
  
  .blog-post li {
    font-family: 'Montserrat', san-serif; 
    font-size: 14px; 
  }
  .blog-post {
    padding: 2%;
    font-family: 'Montserrat', san-serif; 
    font-size: 14px; 
    
  }
  