

header {
  text-align:center;
  padding: 5%;
}

header a {
  color: inherit;
  padding: 1%;
}

header a:hover {
  color:black;
}


h1 {
  font-family: 'VT323', monospace;
  font-size: 3.0em;

}

header h1 {
  font-size: 5.0em;
}

h2 {
  font-family: 'VT323', monospace;

}

h3 {
  font-family: 'VT323', monospace;
}


p {
  font-family: 'Work Sans', sans-serif;

}

ul {
 list-style: none;

}

li {
  list-style-type: none;
}

.nav {

}

.nav li {
  padding: 5px;
  text-align: center;
  display: inline;
  
}

.nav a {
  color: black;
}





#contact {
  text-align:center;
}


.writing {
  text-align:center;
}

.projects {
  /*text-align:center;*/
}


/*.projects h1 {
  text-align:center;
}*/

.project h3 {
  display:inline;
  text-align:center;
}

.project {
  border-style:solid;
  height: 300px;
  width: 300px;
  border-width: 1px;
  padding: 2%;
  margin: 2%;
}

.project i {
  margin-left: 1%;
}

.writing h3 {
  display:inline;
}

.section-header {
  text-align:center;
}

.post {
  text-decoration: none;
}

.blog-post {
  padding: 2%;
}

.blog-post h1, h2, h3, h4 {
  text-align: center;
}


.post-title {
  text-align: center;
}
