

header {
  text-align:center;
  padding: 5%;
}

header a {
  color: inherit;
  padding: 1%;
}

header a:hover {
  color:black;
}


h1 {
  font-family: 'VT323', monospace;
  font-size: 3.0em;

}

header h1 {
  font-size: 5.0em;
}

h2 {
  font-family: 'Inconsolata', monospace;  
  
}

h3 {
  font-family: 'Inconsolata', monospace;  
}

h4 {
  font-family: 'Inconsolata', monospace;  
  text-align: left;  
}


p {
  font-family: 'Inconsolata', monospace; 
  font-size: 14px; 
  

}

ul {
 list-style: none;
}


.nav {
  margin-bottom: 5%;

}

.name {
  transition: color 1s;  
}

#contact {
  text-align:center;
}


.writing {
  text-align:center;
}

.writing h3 {
  display:inline;
}

.section-header {
  text-align:center;
}

.post {
  text-decoration: none;
  font-family: 'Inconsolata', monospace;  
  
}

.blog-post {
  padding: 2%;
  font-family: 'Inconsolata', monospace;  
  
}

.blog-post h1, h2, h3, h4 {
  text-align: center;
}


.post-title {
  text-align: center;
  font-family: 'Inconsolata', monospace;    
}

#projects {
  margin-left: 10%; 
  margin-right: 10%;
} 

.intro {
  border-bottom: solid;
  border-width: 1px;
}

.project {
  padding: 2%;
  padding-bottom: 5%;
  padding-top: 5%;
  font-family: 'Inconsolata', monospace;  
  font-size: 12px;
  line-height: 1.6em;
  letter-spacing: 0px;
  font-weight: 300;
  border-bottom: dashed;
  border-width: 1px;
}



.intropic #portrait {
   margin-left: 200px;
  
}


.intro {
  margin-bottom: 10%;
  margin-left: 5%; 
  margin-right: 5%;
  padding-bottom: 5%;
}



.resumelist {
  text-align: left;
}

.resumelist li {
  font-family: 'Inconsolata', monospace;  
  font-size: 14px;  
}
