html {
  height: 100%;
}
body {
  min-height: 100%;
  background: -webkit-linear-gradient(to bottom, #dae2f8, #d6a4a4); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #dae2f8, #d6a4a4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: no-repeat;
}

main {
  min-height: 100%;
  background: -webkit-linear-gradient(to bottom, #dae2f8, #d6a4a4); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #dae2f8, #d6a4a4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: no-repeat;
}

h1 {
  font-size: 3.0em;
}


h2 {
  font-family: 'Inconsolata', monospace;
}

h3 {
  font-family: 'Inconsolata', monospace; 
}

h4 {
  font-family: 'IBM Plex Mono', monospace;
  text-align: left;  
  border-bottom: solid 1px;
  font-size: 20px;
}

.main-content {
  padding: 5%;
  margin: 5%;
}


p {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 14px; 
}

ul #list {
  list-style: none;
}

li {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 14px; 
  padding: 10px;
}

.js_color {
  transition: background-color 1s;  
}

.name {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 20px;
  margin-left: 1%;
  border-bottom: solid 1px;
}

.about-me {
  padding: 10px;
}


.post {
  text-decoration: none;
  font-family: 'Montserrat', san-serif; 
  font-size: 14px; 
  padding: 10px;
}

.blog-posts {
  margin-top: 50px;
}

.blog-post {
  padding: 2%;
  font-family: 'Montserrat', san-serif; 
  font-size: 14px; 
  
}

.post-title {
  text-align: center;
  font-family: 'Inconsolata', monospace;    
}

.skills-list {
  padding: 20px;
  margin-top: 30px;
}

.contact-me {
  padding: 20px;
}

#contact {
  padding: 10px;
}

.works {
  margin-left: 1%;
  margin-bottom: 5%;
}

.words {
  margin-left: 1%;
}