<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% include blog-head.html %}
    <title>{{ page.title }}</title>
  </head>

  <header class="nav row">
    <h1 class="name">AC Gillette</h1>
    <a href="/"><i class="fa fa-home fa-lg"></i></a>
    <a href="/about"><i class="fa fa-question fa-lg"></i></a>
    <a href="/blog"><i class="fa fa-pencil fa-lg"></i></a>
    <a href="https://github.com/acgillette" target="_blank"><i class="fa fa-github-alt fa-lg"></i></a>
    <a href="https://www.linkedin.com/in/anacelia-gillette-aaa633113/" target="_blank"><i class="fa fa-linkedin fa-lg"></i></a>
  </header>
  <body>
    <main class="row">
      {{ content }}
    </main>
  </body>


</html>
